In [60]:
import pandas as pd

In [61]:
def convert_bytes(num):
    for x in ['bytes', 'KB', 'MB', 'GB', 'TB']:
        if num < 1024.0:
            return  "%3.1f %s" % (num, x)
        num /= 1024.0

Tamanho original do dataset de 2020

In [62]:
import os

csv_em_bytes = os.path.getsize('data/censo2020_filtrado.csv')
convert_bytes(csv_em_bytes)

'10.2 MB'

Tamanho original do dataset de 2021

In [63]:
csv_em_bytes2 = os.path.getsize('data/censo2021_filtrado.csv')
convert_bytes(csv_em_bytes2)

'12.2 MB'

In [64]:
%%time
df_2020 = pd.read_csv('data/censo2020_filtrado.csv')
df_2020.shape

CPU times: total: 797 ms
Wall time: 1.47 s

(62563, 55)

In [65]:
%%time
df_2021 = pd.read_csv('data/censo2021_filtrado.csv')
df_2021.shape

CPU times: total: 797 ms
Wall time: 1.53 s

(75454, 55)

In [66]:
df_2020.head()

,CO_CURSO,NO_CURSO,TP_MODALIDADE_ENSINO,TP_GRAU_ACADEMICO,TP_NIVEL_ACADEMICO,QT_CONC,QT_CONC_FEM,QT_CONC_MASC,QT_CONC_0_17,QT_CONC_18_24,...,QT_MAT_DIURNO,QT_MAT_NOTURNO,QT_MAT_0_17,QT_MAT_18_24,QT_MAT_25_29,QT_MAT_30_34,QT_MAT_35_39,QT_MAT_40_49,QT_MAT_50_59,QT_MAT_60_MAIS
0,101936,ADMINISTRAÇÃO,1,1,1,18,10,8,0,11,...,252,0,0,172,62,8,4,1,5,0
1,1151781,ADMINISTRAÇÃO PÚBLICA,1,1,1,13,5,8,0,6,...,0,164,2,88,45,17,6,4,2,0
2,102148,AGRONOMIA,1,1,1,15,6,9,0,2,...,233,0,3,158,52,12,3,3,2,0
3,101932,ARQUITETURA E URBANISMO,1,1,1,15,9,6,0,5,...,239,0,2,171,45,13,3,3,1,1
4,101942,CIÊNCIA DA COMPUTAÇÃO,1,1,1,21,4,17,0,12,...,239,0,2,179,42,9,5,1,1,0

In [67]:

df_2021.head()

,CO_CURSO,NO_CURSO,TP_MODALIDADE_ENSINO,TP_GRAU_ACADEMICO,TP_NIVEL_ACADEMICO,QT_CONC,QT_CONC_FEM,QT_CONC_MASC,QT_CONC_0_17,QT_CONC_18_24,...,QT_MAT_DIURNO,QT_MAT_NOTURNO,QT_MAT_0_17,QT_MAT_18_24,QT_MAT_25_29,QT_MAT_30_34,QT_MAT_35_39,QT_MAT_40_49,QT_MAT_50_59,QT_MAT_60_MAIS
0,302,Enfermagem,1,1,1,26,20,6,0,13,...,373,0,0,254,72,19,16,8,2,2
1,20766,Enfermagem,1,2,1,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
2,99411,Fisioterapia,1,1,1,45,37,8,0,25,...,220,0,1,163,34,15,3,1,1,2
3,99413,Fonoaudiologia,1,1,1,73,60,13,0,55,...,204,0,0,162,16,7,6,10,3,0
4,303,Medicina,1,1,1,97,44,53,0,38,...,640,0,0,433,157,31,11,5,3,0

Salvando o csv para parquet

In [68]:
df_2020.to_parquet('data/censo2020_filtrado.parquet')

In [69]:
df_2021.to_parquet('data/censo2021_filtrado.parquet')

Tamanho do dataset de 2020 reduzido em parquet

In [70]:
parquet_em_bytes = os.path.getsize('data/censo2020_filtrado.parquet')
convert_bytes(parquet_em_bytes)

'1.3 MB'

Tamanho do dataset de 2021 reduzido em parquet

In [71]:
parquet_em_bytes2 = os.path.getsize('data/censo2021_filtrado.parquet')
convert_bytes(parquet_em_bytes2)

'1.4 MB'